<div class="auth-page">
  <div class="auth-img">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/BOG_Head_Office.jpg/1280px-BOG_Head_Office.jpg" alt="BOG"/>
  </div>
  <div class="auth-panel">
    <div class="bog-logo-block">
      <svg class="logo-svg" viewBox="0 0 60 60"><circle cx="30" cy="30" r="28" fill="#E8501A"/><text x="30" y="36" text-anchor="middle" fill="white" font-size="14" font-weight="bold" font-family="serif">BOG</text></svg>
      <div class="logo-text"><span class="geo">საქართველოს ბანკი</span><span class="eng">BANK OF GEORGIA</span></div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div class="form-group-auth">
        <div class="auth-input-wrap">
          <span class="auth-icon">👤</span>
          <input type="text" formControlName="username" placeholder="მომხმარებელი"/>
        </div>
        <span class="field-error" *ngIf="u.invalid && u.touched">{{errMsg(u)}}</span>
      </div>

      <div class="form-group-auth">
        <div class="auth-input-wrap">
          <span class="auth-icon">🔒</span>
          <input type="password" formControlName="password" placeholder="პაროლი"/>
        </div>
        <span class="field-error" *ngIf="p.invalid && p.touched">{{errMsg(p)}}</span>
      </div>

      <span class="field-error" *ngIf="serverError" style="margin-bottom:8px;display:block">{{serverError}}</span>

      <div class="auth-footer">
        <a routerLink="/auth/register" class="btn-link">რეგისტრაცია</a>
        <button type="submit" class="btn-bog" [disabled]="loading">
          <span *ngIf="!loading">🔒 შესვლა</span>
          <span *ngIf="loading" class="spinner"></span>
        </button>
      </div>
    </form>
  </div>
</div>
